body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #474444;
  color: #0f9fcf;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #f8f1f1;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #0f9fcf;
  color: #000000;
  border-top: 1px dashed white;
}

.past {
  background-color: #688b62;
  color: white;
}

.present {
  background-color: #423f3f;
  color: white;
}

.future {
  background-color: #046c7e;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0f9fcf;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
